*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

.container{
    background-color: red;
    width: 100%;
    margin: 0;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    flex-direction: row;
}

nav ul li{
    display: inline-block;
    padding-inline: 10px;
    list-style: none;
    font-size: 15px;
}